{% extends 'TwigBundle::layout.html.twig' %}

{% block title %}
    {{ exception.message }} ({{ status_code }} {{ status_text }})
{% endblock %}

{% block body %}
    <h3>{{ exception.message }}</h3>
    <p><a href="{{ path('intex_org_homepage') }}">{% trans %}Return to the home page{% endtrans %}</a></p>
{% endblock %}
