{% extends 'GrtResBundle::layout.html.twig' %}

{% block namepage %}
    <h3>
        {% trans %} User information {% endtrans %}
    </h3>
{% endblock %}

{% block body %}

    <div class="show_user">
        <table class="table">
            <tr>
                <td class="name-col">{% trans %}Last Name{% endtrans %}</td>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <td class="name-col">{% trans %}First Name{% endtrans %}</td>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <td class="name-col">{% trans %}Middle Name{% endtrans %}</td>
                <td>{{ user.middlename }}</td>
            </tr>
            <tr>
                <td class="name-col">{% trans %}Department{% endtrans %}</td>
                <td>{{ user.department}}</td>
            </tr>
            <tr>
                <td class="name-col">{% trans %}PTO{% endtrans %}</td>
                <td>{{ user.location}}</td>
            </tr>
         </table>
    </div>


        {{ form_start(form, { 'action': path('grt_create_user'), 'method': 'POST', 'attr': {'class': 'baseform'} }) }}
        {{ form_widget(form) }}
    <p>
        <input type="submit" value="{% trans %}Submit{% endtrans %}" class="btn btn-default">
    </p>

{% endblock %}
