{% extends 'GrtResBundle:User:index.html.twig' %}

{% block namepage %}
    <h3>
        {% trans %}Organization Users{% endtrans %}
        <a href="{{ path('grt_company_show', {'companyId': company.id}) }}">{{ company.name }}</a>
    </h3>
{% endblock %}
{% block body %}
    {% if users %}
        <table class="table table-striped table-hover">
    {% block table_header %}
        <thead>
        <tr>
            <th>#</th>
            <th>{% trans %}Last Name{% endtrans %}
                <span><a href="{{ path('grt_company_users', { 'companyId': company.id, 'page': 1, 'field': 'lastname', 'order': 'ASC'}) }}">
                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                            </a>
                        </span>
                <span><a href="{{ path('grt_company_users', { 'companyId': company.id, 'page': 1, 'field': 'lastname', 'order': 'DESC'}) }}">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </span>
            </th>
            <th>{% trans %}First Name{% endtrans %}
                <span><a href="{{ path('grt_company_users', {'companyId': company.id, 'page': 1, 'field': 'firstname', 'order': 'ASC'}) }}">
                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                            </a>
                        </span>
                <span><a href="{{ path('grt_company_users', {'companyId': company.id, 'page': 1, 'field': 'firstname', 'order': 'DESC'}) }}">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </span>
            </th>
            <th>{% trans %}Middle Name{% endtrans %}
                <span><a href="{{ path('grt_company_users', {'companyId': company.id, 'page': 1, 'field': 'middlename', 'order': 'ASC'}) }}">
                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                            </a>
                        </span>
                <span><a href="{{ path('grt_company_users', {'companyId': company.id, 'page': 1, 'field': 'middlename', 'order': 'DESC'}) }}">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </span>
            </th>
            <th>{% trans %}Action{% endtrans %}</th>
        </tr>
        </thead>
    {% endblock %}
    {% block table_body %}
        {{ parent() }}
    {% endblock %}
    </table>
    {% else %}
        <p>{% trans %}There are no users{% endtrans %}</p>
    {% endif %}
    <div class="row">
        <div class="list-group list-group-horizontal">
             <a class="list-group-item" href="{{  path('grt_user_new',{ 'companyId': company.id })}}">{% trans %}Add user in company{% endtrans %}</a>
        </div>
    </div>
{% endblock %}