{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/home_page.css') }}">
{% endblock %}

{% block namepage %}
    <h3>
        {% trans %} Main {% endtrans %}
    </h3>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="{{ path('grt_users') }}" class="thumbnail">
                <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                <p>{% trans %}Показать пользователей{% endtrans %}</p>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="{{ path('grt_new_location') }}" class="thumbnail">
                <i class="fa fa-university fa-5x" aria-hidden="true"></i>
                <p>Создать расположение</p>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="{{ path('grt_locations')}}" class="thumbnail">
                <i class="fa fa-upload fa-5x" aria-hidden="true"></i>
                <p>Раположения</p>
            </a>
        </div>
    </div>

{% endblock %}
