{% extends 'GrtResBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/form_style.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/form.js') }}"></script>
{% endblock %}

{% block namepage %}
    <h3>
       Добавить ресурс
    </h3>
{% endblock %}

{% block body %}
    {% if resourceId is defined %}
        {{ form_start(form, { 'action': path('grt_create_resource', { 'userId': userId, 'baseId': baseId, 'resourceId': resourceId}), 'method': 'POST', 'attr': {'class': 'resourceform'} }) }}
    {% else %}
        {{ form_start(form, { 'action': path('grt_create_resource', { 'userId': userId, 'baseId': baseId}), 'method': 'POST', 'attr': {'class': 'resourceform'} }) }}
    {% endif %}

    {{ form_widget(form) }}
    <p>
        <input type="submit" value="{% trans %}Submit{% endtrans %}" class="btn btn-default">
    </p>

    {% for error_message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endfor %}

{% endblock %}
